<!-- Including the header template-->
<%- include("templates/header") %>


<!-- LInking css file -->
<!-- Always use the forward slash in the path -->
<link rel="stylesheet" href="/css/styles.css">

<!--? Adding the name variable to ejs file to be target from the js file in the obj -->
<!-- Inside the ejs <%= %> we add only javascript -->
<!-- EJS tags have different purposes check for them in the docs -->

<h1>Learning EJS with: <%= name %></h1>

<!-- Adding js statemant/logic inside ejs file like this -->

<% if(name === 'omega') { %>
<p>Good Choice</p>
<% }else { %>
<p>Bad Choice</p>
<% } %>


<!-- Including the footer template-->
<%- include("templates/footer") %>
