<!-- Including the header template-->
<%- include("templates/header") %>


<!-- LInking css file -->
<link rel="stylesheet" href="/css/styles.css">

<!--? Adding multiple statements / logic to an ejs file to render  -->
<% for(let index = 0; index < posts.length; index++) { %>
<li>
  <%= posts[index].title %> - <strong><%= posts[index].author %></strong>
</li>
<% } %>

<!-- Including the footer template-->
<%- include("templates/footer") %>
